---
layout: 'base.njk'
---

<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
      {{title}}
    </h1>
    <figure class="main-article__figure">
      <img src="{{ image }}" alt="{{ imageAlt }}" >
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>
    
  {{ content | safe }}
  TESTESTSTSTSTSTSE
  <form id="commentForm" name="commentForm" action="" method="post" >
   
   Name <input type="text" name="userEmail" id="userName" value=""/> </br>
   Email <input type="text" name="userName" id="userEmail" value=""/></br>
   Comment <input type="description" name="inputSubmitField" id="userComment" value=""/>
    <input type="submit" id="submit" name="inputSendField" value="Send"/>
  </form>
</div>
</article>

